header.page-header#page-header
    .mobile-menu-btn
        .burger
    .container.mobile-menu
        nav.main-menu
            a(href="#home" class="scrollto") Home
            a(href="#services" class="scrollto") My services
            a(href="#portfolio" class="scrollto") Portfolio
            a(href="#feedbacks" class="scrollto") Feedbacks
            a(href="#contacts" class="scrollto") Contact me
        .header-links
            a(href="mailto:terehovsergej@gmail.com" title="Email")
                i(class="fa fa-envelope-square" aria-hidden="true")
            a(href="https://www.upwork.com/o/profiles/users/_~011cae1b0c8033da54/" target="_blank" title="UpWork")
                i(class="icon-upwork" aria-hidden="true")
                    | <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    |      viewBox="0 0 36 26" style="enable-background:new 0 0 36 26;" xml:space="preserve">
                    | <path d="M27.4,2.9c-3.8,0-6.7,2.5-7.8,6.5c-1.8-2.8-3.2-6-4-8.7h-4v10.6c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8
                    |     V0.7H0v10.6c0,4.4,3.5,7.9,7.8,7.9c4.3,0,7.8-3.5,7.8-7.9V9.5c0.8,1.6,1.8,3.3,2.9,4.8L16,26h4.1l1.8-8.5c1.6,1,3.4,1.6,5.5,1.6
                    |     c4.4,0,8-3.6,8-8.2C35.4,6.5,31.8,2.9,27.4,2.9z M27.4,15c-1.6,0-3.2-0.7-4.5-1.8l0.4-1.6v-0.1c0.3-1.7,1.2-4.6,4.2-4.6
                    |     c2.2,0,4,1.8,4,4C31.4,13.2,29.5,15,27.4,15z"/>
                    | </svg>
            a(href="https://github.com/terehof" target="_blank" title="GitHub")
                i(class="fa fa-github-square" aria-hidden="true")
            a(href="https://bitbucket.org/terehof/" target="_blank" title="Bitbucket")
                i(class="fa fa-bitbucket-square" aria-hidden="true")
            a(href="https://www.linkedin.com/in/terehovsergej" target="_blank" title="LinkedIn")
                i(class="fa fa-linkedin-square" aria-hidden="true")
            a(href="https://www.facebook.com/terehovsergej" target="_blank" title="Facebook")
                i(class="fa fa-facebook-square" aria-hidden="true")
