@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_regular.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_regular.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_regular.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_italic.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_italic.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_italic.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin_italic.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin_italic.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin_italic.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_thin_italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light_italic.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light_italic.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light_italic.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_light_italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'TT Prosto Sans';
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold_italic.eot');
    src: url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold_italic.woff') format('woff'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold_italic.woff2') format('woff2'),
    url('../fonts/TT-Prosto-Sans/tt_prosto_sans_bold_italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}