.setBg(@url, @bgSize: 100%, @bgRepeat: no-repeat) {
    width: unit(image-width(@url)) * 0.1rem;
    height: unit(image-height(@url)) * 0.1rem;
    background-image: url(@url);
    background-size: @bgSize;
    background-repeat: no-repeat;
}

@baseFont: 10;
.fsize(@sizeValue: @baseFont, @content: @baseFont) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}

/*colors*/
@white: #fff;
@main-bg: #2C394A;

@color1: #2C394A;
@color2: #2E3F4F;
@color3: #06A8D9;
@color4: #CACBCF;


@textColor1: #8F99A2;


.changeBg1 {
    //transition: background 10s linear;
    animation: changeBg1 100s linear infinite;
}
.changeBg2 {
    //transition: background 10s linear;
    animation: changeBg2 100s linear infinite;
}
@keyframes changeBg1 {
    //100% {
    //    -webkit-filter: hue-rotate(360deg);
    //    filter: hue-rotate(360deg);
    //}
    0% {
        background: @main-bg;
    }
    20% {
        background: #0b154f;
    }
    40% {
        background: #4f0916;
    }
    60% {
        background: #07484f;
    }
    80% {
        background: #462a4f;
    }
    100% {
        background: @color2;
    }
}
@keyframes changeBg2 {
    //100% {
    //    -webkit-filter: hue-rotate(360deg);
    //    filter: hue-rotate(360deg);
    //}
    0% {
        background: @color2;
    }
    20% {
        background: #462a4f;
    }
    40% {
        background: #07484f;
    }
    60% {
        background: #0b154f;
    }
    80% {
        background: @color2;
    }
    100% {
        background: @main-bg;
    }
}